@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-primary{
    @apply bg-gradient-to-r from-[#D54215] to-[#D54215] px-5 py-3 font-bold text-white rounded-lg border-none outline-none
}
.btn-ssm{
    @apply border font-bold px-4 py-2 rounded-lg bg-gradient-to-r from-[#D54215] to-[#D54215] text-white cursor-pointer outline-none border-none
}

.btn-outline-sm{
    @apply border border-[#D54215] text-[#D54215] font-bold px-4 py-2 rounded-lg hover:bg-gradient-to-r hover:from-[#D54215] hover:to-[#D54215] hover:text-white cursor-pointer duration-200
}

.active {
    @apply text-[#D54215]
}
.text-color {
    color : #888d94;
}

.categories{
    width: 100%;
    height: 300px;
    background-image: url('../public/img/categories.jpg');
    object-fit: cover;
    background-size: cover;
    background-position: top;
    background-color: rgba(0, 0, 0, 0.34);
    color: white;
}
.bg-layer{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.469);
  }

  .getupdate{
    width: 100%;
    height: 400px;
    background-image: url('../public/img/img.jpg');
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.34);
    color: white;
  }